<div class="bg">
  <nav class="navbar navbar-inverse" style="padding-top:15px">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <h4 style="margin:0; color:#3DCFFF">Bill<span style="color:white">Buddy</span></h4>
      </ul>
    </div>
  </nav>
  <div class="login-text col-sm-5 col-xs-12">
    <h1 class="tagline" style="color:white"> Please log in.</h1><br>
  </div>

  <div class="login-form col-sm-4 col-xs-12">
    <h4>Log In</h4>
    <%= form_tag '/sessions', method: :post do %>
    <div class="form-row">
      <%= text_field_tag :username, nil, class: 'text-field', placeholder: 'Username' %>
    </div>
    <div class="form-row">
      <%= password_field_tag :password, nil, class: 'text-field', placeholder: 'Password' %>
    </div>
    <div class="form-row">
      <%= submit_tag "Log In", class: "btn btn-success pull-right" %>
    </div>
    <% end %>
  </div>
</div>
