<input type="hidden" id="api-token" value="<%= @user.token %>">


<h3>Welcome Back <%= @user.username %> </h3>

<%= button_to "Log Out", '/sessions', method: :delete %>

<form class="new-bill" action="/api/bills" method="post">
  <input type="text" name="bill[name]" placeholder="Name">
  <input type="text" id="datepicker" name="bill[due_date]" placeholder="Due Date">
  <input type="text" name="bill[amount]" placeholder="Amount">
  <input type="submit" value="New Bill">
</form>

<table class='bills-table'>
  <thead>
    <th>Name</th>
    <th>Due Date</th>
    <th>Amount</th>
    <!-- <th>User ID</th> -->
    <th>Status</th>
  </thead>
  <tbody class='bills'>

  </tbody>

</table>
<%= javascript_include_tag 'users'%>
