// Place all the styles related to the Graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.info {
	display: inline-block;
	width: 65px;
	margin-right: 3px;
	text-align: right;
	line-height: 2em;
	vertical-align: middle;
}

section {
	background-color: #11AADC;
	border: 0.1em solid lightgrey;
	height: 2em;
	padding: 0.5em;
	// margin: 0.5em;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

section:hover {
	background-color: #3DCFFF;
}

article {
	margin: 10px 0;
}

.tool-tip {
	font-size: 85%;
	position: absolute;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
