// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$margin: 5px;
$padding: 10%;
$mintgreen: #5FECA0;

.bills-table {
  padding: 3% $padding;
}

.new-bill {
  padding: 3% $padding;
}

.button {
  // background-color: $mintgreen;
}

.log-in {
  padding: 3px 12px;
}

.outline {
  background-color: rgba(255, 255, 255, 0);
}

.text {
  color:white;
  position: relative;
  top: 12%;
  left: 10%;
}

.tagline {
  font-size: 1.8em;
}

div.bg {
  // background-image: url('looking_over_mountain.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -150px;
  height: 550px;
  width: 100%;
  background-color: #2A8DCA;
}

.login-form {
  position: relative;
  top: 12%;
  left: 5%;
  height:250px;
  width:450px;
  padding: 25px;
  background-color: #F7F8F8;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
}

.form {
  position: relative;
  top: -10%;
  left: 10%;
  height:250px;
  width:450px;
  padding: 25px;
  background-color: #F7F8F8;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 48px 0px rgba(0,0,0,0.24);
}

.form-row {
  margin: 10px 0;
}

.user-label {
  width: 80px;
}

.user-input {
  width: 260px;
}

div.gif {
  background-image: url('ipad2.gif');
  background-repeat: no-repeat;
  background-size: 65%;
  height:350px;
  position: relative;
  top: 10%;
  // left: 60%;
}

h3.welcome {
  margin: 0;
  padding: 0;
}

.header {
  padding: 3% 3% 0 10%;
}

.text-field {
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: .6em 1em;
    font-weight: 200;
    width: 100%;
    margin: $margin 0;
}

form.new-bill {
  display: block;
  padding: $padding/3 $padding;
  background-color: #F7F8F8;
  align-content: center;
}

#graph {
	 padding: $padding/3 ;
   height: 400px;
   display: flex;
  //  justify-content: center;
}

.thing {
  align-self: center;
}

#pie {
	 padding: $padding/4 ;
   height: 400px;
   vertical-align: middle;
}

.graphs {
  // width: 95%;
  padding-left: 2%;
}

.loading {
  height: 400px;
  background-image: url('loading.gif');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.loaded {
  display: none;
}

// .btn-link {
//   border: 1px solid white;
//   border-radius: 3px;
//   padding: 2px 12px;
// }
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    // letter-spacing: 1px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    // background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    // background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    // background: #007299;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 3px 12px;
}

.btn-primary.outline {
    border: 1px solid #fff;
    color: #fff;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    // color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    // color: #007299;
    box-shadow: none;
}
