// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$margin: 5px;
$padding: 10%;
$mintgreen: #5FECA0;

.bills-table {
  padding: 3% $padding;
}

.new-bill {
  padding: 3% $padding;
}

.button {
  // background-color: $mintgreen;
}

h3.welcome {
  margin: 0;
  padding: 0;
}

.header {
  padding: 3% 3% 0 3%;
}

.text-field {
    border: 2px solid #cccccc;
    border-radius: 3px;
    padding: .6em 1em;
    font-weight: 200;
    width: 100%;
    margin: $margin 0;
}

form.new-bill {
  display: block;
  padding: $padding/3 $padding;
  background-color: #F7F8F8;
  align-content: center;
}

#graph {
	 padding: $padding/3 $padding;
  //  border: 1px solid #cccccc;
}

#pie {
	 padding: $padding/4 $padding;
  //  border: 1px solid #cccccc;
}

.slice {
  // color: yellow;
}
